@import "vendor/bootstrap-sass/assets/stylesheets/bootstrap.scss";

div.todos {
    @extend .panel;
    @extend .panel-default;

    .header {
        @extend .panel-heading;

        margin: 0px;
    }
}

div.todoList {
    @extend .list-group;

    div.todoItem {
        @extend .list-group-item;

        &.done {
            text-decoration: line-through;
        }

        input[type=checkbox] {
            margin-right: 10px;
        }
    }
}

form.todoForm {
    input {
        @extend .form-control;
        margin: 10px 0px;
    }
}